.parameters {
  display: flex;
  flex-direction: column;
  margin-left: 50px;


  &__form {
    display: flex;
    flex-direction: column;
    width: 40%;

    &-field {
      display: flex;
      flex-direction: row;
      width: 500px;

      &-container {
        height: 60px;
      }
    }

    &-label {
      width: 150px;
    }

    &-submit-button {
      align-self: center;
      margin: auto;
      margin-top: 1.5rem;
    }

    &-input,
    &-control{
      border: 0;
      height: 2rem;
      border-radius: 0.5rem;
      background: lightgray;
      width: 250px;
      padding-left: 0.5rem;
      margin-top: 0.5rem;

      &-select {
        border: 0;
        height: 2rem;
        border-radius: 0.5rem;
        background: lightgray;
        width: 257px;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
      }
    }

    &-text-danger {
      line-height: 0.1rem;
      color: red;
      align-self: center;
      font-size: 12px;
    }

    &-error {
      color: red;
      font-size: 0.9rem;
    }

    &-control {
      display: flex;
      flex-direction: column;
    }
  }
}